pandas==1.4.1
PyQRCode==1.2.1
streamlit==1.14.0
toml==0.10.2
openpyxl==3.0.10
pypng==0.20220715.0
xlsxwriter==3.0.3
attrdict==2.0.1
firebase_admin==6.0.1
fpdf==1.7.2
requests==2.27.1
pytz==2021.3
DateTime==4.7








